body {background-color: lavender;
	font-family: 'Aref Ruqaa', bold, serif;
	}

.brand-logo{
	color: white;
	font-family: 'Aref ruqaa'serif;
	font-size: 50px;
	text-shadow: 5px 2px 1px purple;
	margin left: 50%;
	margin right: 50%;
	margin top: 50%;
	margin bottom: 50%;
	text-align: center;
	}

h3 {
	color: Purple;
	text-shadow: 5px 2px 1px white; 
	font-size: 50px;
	text-align: left;
	font-family: 'Aref', Ruqaa;
}

food-drinksh4 {
	color: orange;
	text-shadow: 5px 2px 1px white; 
	font-size: 30px;
	margin-left: 30px;
	text-align: left;
	font-family: 'Aref', Ruqaa;
}

beauty-h4 {
	color: magenta;
	text-shadow: 5px 2px 1px white; 
	font-size: 30px;
	margin-left: 30px;
	text-align: left;
	font-family: 'Aref', Ruqaa;
}

workmoney-h4 {
	color: green;
	text-shadow: 5px 2px 1px white;
	font-size: 30px;
	margin-left: 30px;
	text-align: left;
	font-family: 'Aref', Ruqaa;
}

img {
	height: 10%;
	width: 10%
	padding: 5px;
	
}


li {
	display: inline;
	margin: 20px;

}
